# Ignore the output of installers
installer/Output
# Ignore my json file since it'll contain personal data
list.json
!cleanFiles/list.json
# Ignore dev-docs
DEV-docs
# Ignore any build left by go build .
*.exe
# Ignore binaries built for windows
binaries
