# Ignore the output of installers
installer/Output
# Ignore my json file since it'll contain personal data, now including userSettings.json
list.json
!cleanFiles/list.json
# Ignore dev-docs
DEV-docs
# Ignore any build left by go build .
*.exe
# Ignore binaries built for windows
binaries
# Ignore whole files that are obsolete
depreciated
settings/userSettings.json
# Ignore build tools
node_modules
