input[type=text] {
  background-color: var(--form-back-drop-colour);
  color: var(--form-text-colour);
  width: 50%;
  box-sizing: border-box;
  padding: 10px 2px;
  margin: 2px 0;
  border-radius: 4px;
}

input[type=url] {
  background-color: var(--form-back-drop-colour);
  color: var(--form-text-colour);
  width: 50%;
  box-sizing: border-box;
  padding: 10px 2px;
  margin: 2px 0;
  border-radius: 4px;
}

input[type=url]:invalid {
  background-color: var(--error-action-back-drop-colour);
  font-weight: bold;
}

input[type=submit] {
  background-color: var(--create-action-back-drop-colour);
  border: none;
  color: var(--create-action-text-colour);
  padding: 10px;
  /*margin: 2px 0;*/
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}

.goBack {
  background-color: var(--undo-action-back-drop-colour);
  border: none;
  color: var(--undo-action-text-colour);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 25%;
}

.readonly_id {
  display: none;
}

.full_form {
  text-align: center;
}

h2 {
  text-align: center;
}

.plugin-example {
  margin-bottom: 15px;
  color: var(--form-example-colour);
}
