body {
  background-color: #1a1a1a;
  /*background-image: linear-gradient( to bottom right, red, orange, yellow, green, blue, purple);*/
  /*background-image: url("/assets/images/temp-background.jpg");*/
  color: white;
}

.container {
  overflow: hidden;
  width: 80%;
  text-align: center;

  margin: auto;

  border-radius: 3px;

  padding: 20px;
}

.itemContainer {
  padding-top: 20px;
  padding-left: 20px;
}

.filterDiv {
  vertical-align: top;
  /*width: 30%;
  height: 10%;*/

  min-width: 30%;-
  min-height: 10%;-
  /*line-height: 20px;*/
  text-align: center;-
  /*margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 5px;*/
  border-radius: 3px;-
  display: none;-

  animation-name: fadeEffect;-
  animation-duration: 0.5s;-

  background-color: #2b2b2b;-

  position: relative;
  /* The element is positioned according to the normal flow
  of the document, and then offset relative to itself based
  on top right bottom and left */

  padding-bottom: 5px;
  padding-left: 5px;
}

.itemname {
  font-size: 2vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.plugin {
  position: absolute;
  top: 5px;
  left: 5px;
  /*padding: 5px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#btnContainer {
  overflow: hidden;
  /*border: 1px solid #000000;*/
  background-color: #242424;
  color: white;
}

#btnContainer button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: inherit;
}

#btnContainer button:hover {
  /* Change background color of buttons on hover */
  background-color: #1c1c1c;
}

#btnContainer button.active {
  background-color: #171616;
}

.show {
  display: inline-block;
}

.btn {
  /* targets the category selector buttons */
  /* But during the rewrite found many of these to be defaults
  and looked better without the margin */
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

.editItem {
  position: absolute;
  margin-bottom: 2px;
  margin-left: 2px;


}

.deleteItem {
  position: absolute;
  bottom: 2px;
  right: 2px;
}


footer {
  text-align: center;
  padding: 5px;
  background-color: #0d0d0d;
  color: white;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  display: inline;
  margin-right: 10px;

}

.heading {
  background-color: #0d0d0d;
  text-align: center;
}

.new-button-container {
  text-align: center;

}

.new-button-container button {
  background-color: #661294;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

hr.heading {
  border: 2px solid black;
}

a {
  color: white;
}

/* Modal Based CSS */
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1; /* sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  background-color: inherit;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #2b2b2b;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #000000;
  width: 40%;
  border-radius: 5px;

  text-align: center;
}

.modal-content .notDelete {
  background-color: #261499;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.modal-content .delete {
  /*background-color: #b01919; Red Delete Button */
  background-color: #007523;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}
