.updatePluginButtonContainer {
  text-align: center;
}

.seperator {
  text-align: center;
  border-bottom: 2px solid black;
}

.plugin-item {
  display: grid;
  grid-template-columns: 50px 1fr 2fr 1fr 1fr;
  grid-template-rows: 80% 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.plugin-item .plugin-icon {
  grid-column: 1;
  grid-row: 1/3;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  width: 50%;
  height: auto;
}

.plugin-item .plugin-title {
  font-size: 2em;
  margin-bottom: 5px;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.plugin-item .plugin-version {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  text-align: center;
}

.plugin-item .plugin-description {
  font-size: 1.5em;
  grid-column: 3;
  grid-row: 1/3;
  align-self: center;
}

.plugin-item .plugin-author {
  grid-column: 4;
  grid-row: 1;
}

.plugin-item .plugin-license {
  grid-column: 4;
  grid-row: 2;
}

.plugin-item .plugin-action {
  grid-column: 5;
  grid-row: 1/3;
}
