.seperator {
  text-align: center;
  border-bottom: var(--settings-seperator-border-bottom);
}

.settingsContainerSummary {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.settingsContainerOptions {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.server-settings {
  width: 80%;
  grid-column: 1;
  justify-self: center;
}

.host-settings {
  width: 80%;
  grid-column: 2;
  justify-self: center;
}

.shortcut-list-item {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}

.shortcut-list-title {
  grid-column: 1;
  grid-row: 1;
  margin-right: auto;
  margin-left: auto;
  font-size: 2em;
  align-self: center;
}

.shortcut-list-description {
  grid-column: 2;
  grid-row: 1;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5em;
  align-self: center;
}

.shortcut-list-launch {
  grid-column: 3;
  grid-row: 1;
  background-color: var(--create-action-back-drop-colour);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  align-self: center;
}
