body {
  /* Styles applied to the entire body */

  background-color: var(--back-drop-colour);
  color: var(--body-text-colour);
  margin: 0 0 50px 0;

  /* remove user-agent margins to allow element to fill to edge of page */
  background-image: none;
}

a {
  /* Targets all links on the page */
  color: var(--link-text-colour);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.heading {
  background-color: var(--heading-back-drop-colour);
  color: var(--heading-text-colour);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.settingsIcon {
  grid-column: 1;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.settingsIcon img {
  width: 35px;
  height: auto;
}

.titleCard {
  background-color: inherit;
  color: inherit;
  grid-column: 3;
  grid-row: 1;
}

.timeStamp {
  background-color: inherit;
  color: inherit;
  grid-column: 5;
  grid-row: 1;
}

.headerPluginLeft {
  grid-column: 2;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}


.headerPluginLeft .add-plugin {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  cursor: pointer;
}



.headerPluginLeft:hover .add-plugin {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
}

.headerPluginRight {
  grid-column: 4;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.headerPluginRight .add-plugin {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  cursor: pointer;
}

.headerPluginRight:hover .add-plugin {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
}

/* Specific to styling of text across pages */
.text-style-issue {
  color: var(--text-style-issue-colour);
}

.text-style-declare {
  color: var(--text-style-declare-colour);
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
}

hr.heading {
  border: var(--heading-hr-border);
}

footer {
  /* The DOM element footer */
  border-top: var(--footer-border-top);
  text-align: center;
  padding: 5px; /* space around the content within its DIV */
  background-color: var(--footer-back-drop-colour);
  color: var(--footer-text-colour);
  position: fixed;  /* removes the footer from the normal document flow.
        No space will be made for this element, having it in the same place on every page. */
  bottom: 0;   /* bottom, top, left, right; determine its location within the page */
  left: 0;
  width: 100%;  /* Ensures the item takes the entire width of the page */
}

footer p {
  /* text inside the DOM element footer */
  display: inline;  /* Allows the text to be side by side */
  margin-right: 10px; /* Spacing outside the text element DIV
    to give them space between multiple text items to breath */
}

/* ---------------------- */
/* Universal Stylings for pages */

/* =================== */
/*    generic-button */

.simple-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.btn-create {
  background-color: var(--create-action-back-drop-colour);
  color: var(--create-action-text-colour);
}

.btn-undo {
  background-color: var(--undo-action-back-drop-colour);
  color: var(--undo-action-text-colour);
}

.btn-confirm {
  background-color: var(--confirm-action-back-drop-colour);
  color: var(--confirm-action-text-colour);
}

.btn-destroy {
  background-color: var(--destroy-action-back-drop-colour);
  color: var(--destroy-action-text-colour);
}

/* ================== */
/*    grow-shadow-hover */

.grow-shadow-hover {
  -webkit-transform: perspective(1px) translate(0);
  transofmr: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.grow-shadow-hover:hover, .grow-shadow-hover:focus, .grow-shadow-hover:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* ==================== */
/*  reveal-on-hover */

.reveal-on-hover {
  opacity: 0;
}

.reveal-on-hover:hover {
  opacity: 1;
}

/* ================ */
/*  dropdown / dropdown-content / dropdown-content-item */

.dropdown {
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--card-back-drop-colour);
  padding: 2px;
  margin: 2px;
  border: 2px solid black;
  border-radius: 10px;
}

.dropdown-content-item {
  cursor: pointer;
  padding: 3px;
  border-radius: 4px;
}

.dropdown-content-item:hover {
  background-color: var(--category-selector-button-hover-bc);
}

.dropdown:hover .dropdown-content {
  display: inline;
}

/* ===================== */
/*  hover-shadow-radial */

.hover-shadow-radial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hover-shadow-radial:before, .hover-shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 90%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 10px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.hover-shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
}

.hover-shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%);
}

.hover-shadow-radial:hover:before, .hover-shadow-radial:focus:before, .hover-shadow-radial:active:before, .hover-shadow-radial:hover:after, .hover-shadow-radial:focus:after, .hover-shadow-radial:active:after {
  opacity: 1;
}

/* ================== */
/* card styling */

.bubble-card-daily {
  border-radius: 30px;
  max-width: 30%;
  min-width: 15%;
  min-height: 10%;
  margin-right: 5px;
  margin-top: 5px;
}

.boxy-card-daily {
  border-radius: 3px;
  max-width: 50%;
  min-width: 30%;
  min-height: 10%;
  margin-right: 5px;
  margin-top: 5px;
}

/* ================== */
/* bar-list bar-list-bars */

.bar-list {
  width: 80%;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  margin: auto;
}

.bar-list-bars {
  width: 100%;
  background-color: var(--card-back-drop-colour);
  text-align: center;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 5px 20px 5px;
}

/* ================== */
/*  snackbar */

.snackbar {
  visibility: hidden; /* Hidden by default */
  min-width: 250px; /* Set default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* TODO: Remove hardcoded color */
  color: #fff; /* TODO: Remove hardcoded colour */
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.snackbar.show {
  visibility: visible;

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */

  -webkit-animation: snack-fadein 0.5s, snack-fadeout 0.5s 2.5s;
  animation: snack-fadein 0.5s, snack-fadeout 0.5s 2.5s;
}

.snackbar.error {
  background-color: var(--error-action-back-drop-colour);
}

/* animations to fade the snackbar in and out */
@-webkit-keyframes snack-fadein {
  from { bottom: 0; opacity: 0;}
  to { bottom: 30px; opacity: 0;}
}

@keyframes snack-fadein {
  from { bottom: 0; opacity: 1;}
  to { bottom: 30px; opacity: 1;}
}

@-webkit-keyframes snack-fadeout {
  from { bottom: 30px; opacity: 1;}
  to { bottom: 30px; opacity: 0;}
}

@keyframes snack-fadeout {
  from { bottom: 30px; opacity: 1;}
  to { bottom: 30px; opacity: 0;}
}
