<html>
<head>
  <title>Edit Item</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/form.css">
</head>
<body onload="initCategory()">
  <h2>Edit Item</h1>
  <div class="full_form">
    <form action="/update/" method="POST">
      <label>Enter a New Friendly Name:</label><br>
      <input type="text" name="friendlyName" value="{{.FriendlyName}}"/><br><br>
      <label>Enter a New Link:</label><br>
      <input type="url" name="link" value="{{.Link}}"/><br><br>
      <label>Enter a New Category:</label><br>
      <input list="current-category" type="text" name="category" value="{{.Category}}"/><br><br>
      <label class="readonly_id">Enter the same ID:</label>
      <input type="text" name="id" value="{{.Id}}" readonly class="readonly_id"/><br><br>
      <label>Choose your Left Plugin</label><br>
      <input list="available-plugins" type="text" name="leftPlugin"><br><br>
      <label>Choose your Center Plugin</label><br>
      <input list="available-plugins" type="text" name="centerPlugin"><br><br>
      <label>Choose your Right Plugin</label><br>
      <input list="available-plugins" type="text" name="rightPlugin"><br><br>
      <button id="goBack" class="goBack" type="button">Go Back</button>
      <input type="submit" value="Save">

      <datalist id="current-category">

      </datalist>
      <datalist id="available-plugins">

      </datalist>
    </form>
  </div>
  <script src="/assets/js/form.js"></script>
</body>
</html>
