<html>
<head>
  <title>GoPage - Edit Item</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/form.css">
</head>
<body onload="initCategory()">
  <h2><span id="i18n-headerEditItem">Edit Item</span></h1>
  <div class="full_form">
    <form action="/update/" method="POST">
      <label><span id="i18n-labelNewFriendlyName">Enter a New Friendly Name:</span></label><br>
      <input type="text" name="friendlyName" value="{{.FriendlyName}}"/><br><br>
      <label><span id="i18n-labelNewLink">Enter a New Link:</span></label><br>
      <input type="text" name="link" value="{{.Link}}"/><br><br>
      <label><span id="i18n-labelNewCategory">Enter a New Category:</span></label><br>
      <input list="current-category" type="text" name="category" value="{{.Category}}"/><br><br>
      <label class="readonly_id">Enter the same ID:</label>
      <input type="text" name="id" value="{{.Id}}" readonly class="readonly_id"/><br><br>

      <label><span id="i18n-labelChooseLeftPlugin">Choose your Left Plugin</span></label><br>
      <input oninput="onDataListInput(this)" list="available-plugins" type="text" name="leftPlugin" value="{{.LeftPlugin}}"><br><br>
      <label class="readonly_id" id="leftPluginLabel"><span id="i18n-labelOptionsLeftPlugin">Define any Options Needed for your Left Plugin.</span></label><br>
      <input class="readonly_id" readonly type="text" name="leftPluginOptions" id="leftPluginOptions" value="{{.LeftPluginOptions}}"/><br><br>
      <div class="plugin-example readonly_id" id="left-plugin-example"> </div>

      <label><span id="i18n-labelChooseCenterPlugin">Choose your Center Plugin</span></label><br>
      <input oninput="onDataListInput(this)" list="available-plugins" type="text" name="centerPlugin" value="{{.CenterPlugin}}"><br><br>
      <label class="readonly_id" id="centerPluginLabel"><span id="i18n-labelOptionsCenterPlugin">Define any Options Needed for your Center Plugin.</span></label><br>
      <input class="readonly_id" readonly type="text" name="centerPluginOptions" id="centerPluginOptions" value="{{.CenterPluginOptions}}"/><br><br>
      <div class="plugin-example" id="center-plugin-example"> </div>

      <label><span id="i18n-labelChooseRightPlugin">Choose your Right Plugin</span></label><br>
      <input oninput="onDataListInput(this)" list="available-plugins" type="text" name="rightPlugin" value="{{.RightPlugin}}"><br><br>
      <label class="readonly_id" id="rightPluginLabel"><span id="i18n-labelOptionsRightPlugin">Define any Options Needed for your Right Plugin.</span></label><br>
      <input class="readonly_id" readonly type="text" name="rightPluginOptions" id="rightPluginOptions" value="{{.RightPluginOptions}}"/><br><br>
      <div class="plugin-example" id="right-plugin-example"> </div>

      <button id="goBack" class="goBack" type="button"><span id="i18n-buttonGoBack">Go Back</span></button>
      <input type="submit" value="Save">

      <datalist id="current-category">

      </datalist>
      <datalist id="available-plugins">

      </datalist>
    </form>
  </div>
  <script src="/assets/js/form.js"></script>
  <script src="/assets/js/langHandler.js"></script>
  <script src="/assets/js/universal.js"></script>
  <script src="/assets/js/pluginNonHomeLoad.js"></script>
</body>
</html>
