<!DOCTYPE html>
<html lang="en">
<head>
  <title>GoPage - Error</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
</head>
<body onload="onPageLoad()">
  <div class="heading">
    <div class="settingsIcon">
      <a href="/settings"><img src="/assets/images/settings-white.svg" alt="White Gear Icon indicating traditional Settings Icon"></a>
    </div>
    <div class="titleCard"><a href="/"><h1>GoPage</h1></a></div>
    <div class="timeStamp" id="timeStamp"> </div>
    <hr class="heading">
  </div>

  <p> An Error Occured within GoPage. Its Recommended to read the logs to determine more. </p>

  <footer>
    <img src="/assets/images/github-white.svg" alt="Github's Octocat Icon">
    <p><a href="https://github.com/confused-Techie/GoPage">Source Code</a></p>
    <img src="/assets/images/git-branch-white.svg" alt="Github's New Code Branch Icon">
    <p><a href="https://github.com/confused-Techie/GoPage">Contribute</a></p>
    <img src="/assets/images/feather-white.svg" alt="Feather Icon Project Logo">
    <p><a href="https://feathericons.com">
      <span id="i18n-footerThanksFeather">Thanks Feather Icons</span></a></p>
  </footer>
  <script src="/assets/js/universal.js"></script>
  <script type="module" src="/assets/js/pluginLoad.js"></script>

</body>
</html>
