<!DOCTYPE html>
{{template "head" . }}

<body>

  {{template "heading" .}}

  <div id="linkItemList">
    {{template "linkItemList" . }}
  </div>

  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <h3>
        {{ or
          (index .TargetStrings "i18n-modalDeleteConfirmationMessage")
          (index .DefaultStrings "i18n-modalDeleteConfirmationMessage")
        }}
      </h3>
      <button id="delete-modal" class="delete">
        {{ or
          (index .TargetStrings "i18n-modalDeleteConfirm")
          (index .DefaultStrings "i18n-modalDeleteConfirm")
        }}
      </button>
      <button id="notDelete-modal" class="notDelete">
        {{ or
          (index .TargetStrings "i18n-modalDeleteNevermind")
          (index .DefaultStrings "i18n-modalDeleteNevermind")
        }}
      </button>
    </div>
  </div>

  <div id="headerPluginModal" class="modal">
    <div class="modal-content">
      <h2>
        {{ or
          (index .TargetStrings "i18n-modalHeaderPlugin")
          (index .DefaultStrings "i18n-modalHeaderPlugin")
        }}
      </h2>
      <form id="header-plugin-form">
        <label>
          {{ or
            (index .TargetStrings "i18n-labelChoosePlugin")
            (index .DefaultStrings "i18n-labelChoosePlugin")
          }}
        </label><br>
        <input oninput="dataListInputHeader(this)" class="form-input" list="header-plugin-list" type="text" autocomplete="off" name="header-plugin-name" id="header-plugin-name"/><br><br>
        <label class="readonly_id" id="header-plugin-label">
          {{ or
            (index .TargetStrings "i18n-labelPluginOptions")
            (index .DefaultStrings "i18n-labelPluginOptions")
          }}
        </label><br>
        <input class="readonly_id form-input" readonly type="text" name="header-plugin-options" id="header-plugin-options"/><br><br>
        <div class="plugin-example" id="header-plugin-example"> </div>

        <button id="headerPlugin-goBack" class="simple-button btn-undo grow-shadow-hover" type="button">
          {{ or
            (index .TargetStrings "i18n-buttonGoBack")
            (index .DefaultStrings "i18n-buttonGoBack")
          }}
        </button>
        <button id="headerPlugin-submit" class="simple-button btn-create grow-shadow-hover" type="button">
          {{ or
            (index .TargetStrings "i18n-modalFirstTimeLangSubmit")
            (index .DefaultStrings "i18n-modalFirstTimeLangSubmit")
          }}
        </button>
        <datalist id="header-plugin-list"> </datalist>
      </form>
    </div>
  </div>

  <!-- This is the new Edit/New Link Item Modal -->

  <div class="modal" id="link-item-modal">
    <div class="modal-content polka-dots">

      <h2>
        {{ or
          (index .TargetStrings "i18n-headerNewItem")
          (index .DefaultStrings "i18n-headerNewItem")
        }}
        /
        {{ or
          (index .TargetStrings "i18n-headerEditItem")
          (index .DefaultStrings "i18n-headerEditItem")
        }}
      </h2>

      <form id="link-item-form" class="form">

        <div class="form-row">
          {{/* FIXME Note that the text below is never shown to the end user, and is here for quick reference during creation */}}
          <label class="readonly_id">Enter the same ID:</label>
          <input type="text" name="staticID" readonly class="readonly_id form-input" />


          <div class="form-group" name="basic-data-group">
            <label>
              {{ or
                (index .TargetStrings "i18n-labelFriendlyName")
                (index .DefaultStrings "i18n-labelFriendlyName")
              }}
            </label>
            <input type="text" name="friendlyName" required="true" autocomplete="off"/>
          </div>

          <div class="form-group">
            <label>
              {{ or
                (index .TargetStrings "i18n-labelLink")
                (index .DefaultStrings "i18n-labelLink")
              }}
            </label>
            <input type="text" name="link" required="true" autocomplete="off"/>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>
              {{ or
                (index .TargetStrings "i18n-labelCategory")
                (index .DefaultStrings "i18n-labelCategory")
              }}
            </label>
            <input type="text" name="category" required="true" list="plugin-category-list" autocomplete="off"/>
          </div>
          <div class="form-row-btn">
            <button id="itemModalGoBack" class="simple-button btn-undo grow-shadow-hover" type="button">Go Back</button>
            <button id="itemModalSubmit" class="simple-button btn-create grow-shadow-hover" type="button" onclick="parseLinkItemForm()">Submit</button>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>
              {{ or
                (index .TargetStrings "i18n-labelCustomColour")
                (index .DefaultStrings "i18n-labelCustomColour")
              }}
            </label>
            <input type="text" name="colour" required="false" autocomplete="off"/>
          </div>
          <div class="form-group">
            <label>
              {{ or
                (index .TargetStrings "i18n-labelCustomStyle")
                (index .DefaultStrings "i18n-labelCustomStyle")
              }}
            </label>
            <input type="text" list="styleOptions" name="style" required="false" autocomplete="off"/>
            <datalist id="styleOptions">
              <option value="adamantium">Adamantium</option>
            </datalist>

          </div>
        </div>

        <div class="form-text">
          <a href="#" class="add-plugin-link" onclick="addPluginToFormV2();">
            Add Plugin
          </a>

          <div class="additional_info" style="display: none;">

            <section class="pluginAddContainer">
              <div class="form-row">
                <div class="form-group">
                  <label>
                    {{ or
                      (index .TargetStrings "i18n-labelChoosePlugin")
                      (index .DefaultStrings "i18n-labelChoosePlugin")
                    }}
                  </label>
                  <input type="text" name="pluginName" list="plugin-installed-list" autocomplete="off" oninput="addPluginOptions(this);">
                </div>
                <div class="form-group">
                  <label>
                    {{ or
                      (index .TargetStrings "i18n-labelChoosePluginLocation")
                      (index .DefaultStrings "i18n-labelChoosePluginLocation")
                    }}
                  </label>
                  <input type="text" name="pluginLocation" list="plugin-location-list" autocomplete="off" oninput="disablePluginLocation(this);">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>
                    {{ or
                      (index .TargetStrings "i18n-labelPluginOptions")
                      (index .DefaultStrings "i18n-labelPluginOptions")
                    }}
                  </label>
                  <input type="text" name="pluginOptions">
                </div>
                <div class="form-group">
                  <label>Plugin Options Example:</label>
                  <input type="text" readonly name="pluginExample">
                </div>
              </div>
            </section>

          </div>

        </div>

        <datalist id="plugin-category-list">
          {{range .HomePageCategory}}
            <option value="{{ . }}" />
          {{end}}
        </datalist>

        <datalist id="plugin-location-list">
          <option value="top-right" label="Top Right" />
          <option value="top-left" label="Top Left" />
          <option value="center" label="Center" />
          <option value="bottom-left" label="Bottom Left" />
          <option value="bottom-right" label="Bottom Right" />
        </datalist>

        <datalist id="plugin-installed-list">

        </datalist>

      </form>
    </div>
  </div>

  {{template "firstTimeSetup" .}}

  {{template "returnsGlobalJS" . }}

  {{template "snackbar" . }}

  {{template "modal" . }}

  {{ template "loader" . }}

  {{template "footer" .}}

  <script type="module" src="/assets/js/pluginLoad.js"></script>

  {{range .JS}}
    <script src="{{ . }}"></script>
  {{end}}

  {{template "noscript" .}}

</body>
</html>
