<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="GoPage - A simple Website Shortcut Dashboard written in Go">
  <meta name="viewport" content="width=device-width">
  <title>GoPage - Home</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/dist/universal.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/dist/home.min.css">
</head>
<body>

  {{template "heading" .}}

  <div class="container">

    <div class="new-button-container-gen2">
      <button onclick="newItemModal();" class="hover-shadow-radial grow-shadow-hover simple-button btn-create"><span id="i18n-AddNewItem">Add New Item</span></button>
    </div>

    <div id="btnContainer">
      <button class="btn active" id="ShowAllCategorySelector"><span id="i18n-ShowAllCategorySelector">Show All</span></button>
    </div>

    <div class="itemContainer">
      {{range .Items}}
      {{/* To make some data available within the range of plugins, we can assign variables here for use */}}
      {{ $itemLink := .Link }}
        <div class="filterDiv bubble-card-daily {{.Category}}">
          <div class="item hover-shadow-radial">
            <a href="{{.Link}}">
              <div class="itemName grow-shadow-hover">{{.FriendlyName}}</div>
            </a>

            {{/* Here will be the declarations for Plugins */}}

            {{range .Plugins}}
              {{if eq .Location "top-left"}}
                <div class="plugin-top-left {{.Name}}" data-url="{{$itemLink}}" data-pluginName="{{.Name}}" data-options="{{.Options}}">
                </div>
              {{end}}
              {{if eq .Location "top-right"}}
                <div class="plugin-top-right {{.Name}}" data-url="{{$itemLink}}" data-pluginName="{{.Name}}" data-options="{{.Options}}">
                </div>
              {{end}}
              {{ if eq .Location "center"}}
                <div class="plugin-center {{.Name}}" data-url="{{$itemLink}}" data-pluginName="{{.Name}}" data-options="{{.Options}}">
                </div>
              {{end}}
              {{ if eq .Location "bottom-left"}}
                <div class="plugin-bottom-left {{.Name}}" data-url="{{$itemLink}}" data-pluginName="{{.Name}}" data-options="{{.Options}}">
                </div>
              {{end}}
              {{ if eq .Location "bottom-right"}}
                <div class="plugin-bottom-right {{.Name}}" data-url="{{$itemLink}}" data-pluginName="{{.Name}}" data-options="{{.Options}}">
                </div>
              {{end}}
            {{end}}

            {{/* Now after all available plugins are assigned, we will check each location's existance using the HasType Method */}}
            {{if .NoTopLeftPlugin}}
              <div class="plugin-top-left"> </div>
            {{end}}
            {{if .NoTopRightPlugin}}
              <div class="plugin-top-right"> </div>
            {{end}}
            {{ if .NoCenterPlugin}}
              <div class="plugin-center"> </div>
            {{end}}
            {{ if .NoBottomLeftPlugin}}
              <div class="plugin-bottom-left"> </div>
            {{end}}
            {{ if .NoBottomRightPlugin}}
              <div class="plugin-bottom-right"> </div>
            {{end}}

            <div class="optionsItem">
              <img src="/assets/images/more-vertical-white.svg" alt="Three Vertical Dots to indicate additional options" width="24" height="24">
              <div class="optionsContent">
                <div class="optionsContent-Edit">
                  <a onclick="editItemModalV2( {{.ID}}, {{.FriendlyName}}, {{.Link}}, {{.Category}}, {{.Plugins}} );return false;">
                    Edit
                  </a>
                </div>
                <div class="optionsContent-Delete">
                  <a onclick="modalDelete( {{.ID}} );return false;">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{end}}
    </div>

  </div>

  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <h3><span id="i18n-modalDeleteConfirmationMessage">Are you Sure you want to Delete this Item?</span></h3>
      <button id="delete-modal" class="delete"><span id="i18n-modalDeleteConfirm">Confirm</span></button>
      <button id="notDelete-modal" class="notDelete"><span id="i18n-modalDeleteNevermind">Nevermind</span></button>
    </div>
  </div>

  <div id="headerPluginModal" class="modal">
    <div class="modal-content">
      <h2>Header Plugin</h2>
      <form id="header-plugin-form">
        <label><span id="i18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputHeader(this)" class="form-input" list="header-plugin-list" type="text" autocomplete="off" name="header-plugin-name" id="header-plugin-name"/><br><br>
        <label class="readonly_id" id="header-plugin-label"><span id="i18n-labelPluginOptioons">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="header-plugin-options" id="header-plugin-options"/><br><br>
        <div class="plugin-example" id="header-plugin-example"> </div>

        <button id="headerPlugin-goBack" class="simple-button btn-undo grow-shadow-hover" type="button"><span id="i18n-buttonGoBack">Go Back</span></button>
        <button id="headerPlugin-submit" class="simple-button btn-create grow-shadow-hover" type="button"><span id="118n-modalFirstTimeLangSubmit">Submit</span></button>
        <datalist id="header-plugin-list"> </datalist>
      </form>
    </div>
  </div>

  <div id="newItemModal" class="modal">
    <div class="modal-content">
      <h2><span id="i18n-headerNewItem">New Item's Data</span></h2>
      <form id="new-item-form">
        <label><span id="i18n-labelFriendlyName">Enter Friendly Name</span></label><br>
        <input class="form-input" type="text" name="friendlyName" autocomplete="off" /><br><br>

        <label><span id="i18n-labelLink">Enter Link</span></label><br>
        <input class="form-input" type="text" name="link" autocomplete="off" placeholder="https://www.my-favourite-site.com" /><br><br>

        <label><span id="i18n-labelCategory">Enter Category</span></label><br>
        <input class="form-input" list="new-current-category" type="text" name="category" autocomplete="off" /><br><br>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'new')" class="form-input" list="new-available-plugins" type="text" autocomplete="off" name="plugin-name1" /><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="new-plugin-location-list" name="plugin-loc1" autocomplete="off" id="plugin-loc1"/><br><br>
        <label class="readonly_id" id="plugin-label1"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="plugin-options1" id="plugin-options1" /><br><br>
        <div class="plugin-example" id="plugin-example1"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'new')" class="form-input" list="new-available-plugins" type="text" autocomplete="off" name="plugin-name2" /><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="new-plugin-location-list" name="plugin-loc2" autocomplete="off" id="plugin-loc2"/><br><br>
        <label class="readonly_id" id="plugin-label2"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="plugin-options2" id="plugin-options2" /><br><br>
        <div class="plugin-example" id="plugin-example2"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'new')" class="form-input" list="new-available-plugins" type="text" autocomplete="off" name="plugin-name3" /><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="new-plugin-location-list" name="plugin-loc3" autocomplete="off" id="plugin-loc3"/><br><br>
        <label class="readonly_id" id="plugin-label3"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="plugin-options3" id="plugin-options3" /><br><br>
        <div class="plugin-example" id="plugin-example3"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'new')" class="form-input" list="new-available-plugins" type="text" autocomplete="off" name="plugin-name4" /><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="new-plugin-location-list" name="plugin-loc4" autocomplete="off" id="plugin-loc4"/><br><br>
        <label class="readonly_id" id="plugin-label4"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="plugin-options4" id="plugin-options4" /><br><br>
        <div class="plugin-example" id="plugin-example4"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'new')" class="form-input" list="new-available-plugins" type="text" autocomplete="off" name="plugin-name5" /><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="new-plugin-location-list" name="plugin-loc5" autocomplete="off" id="plugin-loc5"/><br><br>
        <label class="readonly_id" id="plugin-label5"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="plugin-options5" id="plugin-options5" /><br><br>
        <div class="plugin-example" id="plugin-example5"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'new')" class="form-input" list="new-available-plugins" type="text" autocomplete="off" name="plugin-name6" /><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="new-plugin-location-list" name="plugin-loc6" autocomplete="off" id="plugin-loc6"/><br><br>
        <label class="readonly_id" id="plugin-label6"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="plugin-options6" id="plugin-options6" /><br><br>
        <div class="plugin-example" id="plugin-example6"> </div>

        <!-- todo:: In the future I would like to create these elements as needed, rather than have the max amount available to edit at once -->

        <button id="new-form-goBack" class="simple-button btn-undo grow-shadow-hover" type="button"><span id="i18n-buttonGoBack">Go Back</span></button>
        <button id="new-form-submit" class="simple-button btn-create grow-shadow-hover" type="button"><span id="118n-modalFirstTimeLangSubmit">Submit</span></button>

        <datalist id="new-current-category"> </datalist>
        <datalist id="new-available-plugins"> </datalist>
        <datalist id="new-plugin-location-list">
          <option value="top-right" label="Top Right Corner"></option>
          <option value="top-left" label="Top Left Corner"></option>
          <option value="center" label="Center"></option>
          <option value="bottom-left" label="Bottom Left Corner"></option>
          <option value="bottom-right" label="Bottom Right Corner"></option>
        </datalist>

      </form>
    </div>
  </div>

  <!-- New Item Above :: Edit Item Below -->

  <div id="editItemModal" class="modal">
    <div class="modal-content">
      <h2><span id="i18n-headerEditItem">Edit Item</span></h2>
      <form id="edit-item-form">
        <label><span id="i18n-labelFriendlyName">Enter Friendly Name</span></label><br>
        <input class="form-input" type="text" name="friendlyName" autocomplete="off" id="edit-friendlyName"/><br><br>

        <label><span id="i18n-labelLink">Enter Link</span></label><br>
        <input class="form-input" type="text" name="link" autocomplete="off" placeholder="https://www.my-favourite-site.com" id="edit-link"/><br><br>

        <label><span id="i18n-labelCategory">Enter Category</span></label><br>
        <input class="form-input" list="edit-current-category" type="text" name="category" autocomplete="off" id="edit-category"/><br><br>

        <label class="readonly_id">Enter the same ID:</label>
        <input type="text" name="id" readonly class="readonly_id form-input" id="edit-id"/><br><br>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'edit')" class="form-input" list="edit-available-plugins" type="text" autocomplete="off" name="edit-plugin-name1" id="edit-plugin-name1"/><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="edit-plugin-location-list" name="edit-plugin-loc1" autocomplete="off" id="edit-plugin-loc1"/><br><br>
        <label class="readonly_id" id="edit-plugin-label1"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="edit-plugin-options1" id="edit-plugin-options1" /><br><br>
        <div class="plugin-example" id="edit-plugin-example1"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'edit')" class="form-input" list="edit-available-plugins" type="text" autocomplete="off" name="edit-plugin-name2" id="edit-plugin-name2"/><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="edit-plugin-location-list" name="edit-plugin-loc2" autocomplete="off" id="edit-plugin-loc2"/><br><br>
        <label class="readonly_id" id="edit-plugin-label2"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="edit-plugin-options2" id="edit-plugin-options2" /><br><br>
        <div class="plugin-example" id="edit-plugin-example2"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'edit')" class="form-input" list="edit-available-plugins" type="text" autocomplete="off" name="edit-plugin-name3" id="edit-plugin-name3"/><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="edit-plugin-location-list" name="edit-plugin-loc3" autocomplete="off" id="edit-plugin-loc3"/><br><br>
        <label class="readonly_id" id="edit-plugin-label3"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="edit-plugin-options3" id="edit-plugin-options3" /><br><br>
        <div class="plugin-example" id="edit-plugin-example3"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'edit')" class="form-input" list="edit-available-plugins" type="text" autocomplete="off" name="edit-plugin-name4" id="edit-plugin-name4"/><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="edit-plugin-location-list" name="edit-plugin-loc4" autocomplete="off" id="edit-plugin-loc4"/><br><br>
        <label class="readonly_id" id="edit-plugin-label4"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="edit-plugin-options4" id="edit-plugin-options4" /><br><br>
        <div class="plugin-example" id="edit-plugin-example4"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'edit')" class="form-input" list="edit-available-plugins" type="text" autocomplete="off" name="edit-plugin-name5" id="edit-plugin-name5"/><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="edit-plugin-location-list" name="edit-plugin-loc5" autocomplete="off" id="edit-plugin-loc5"/><br><br>
        <label class="readonly_id" id="edit-plugin-label5"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="edit-plugin-options5" id="edit-plugin-options5" /><br><br>
        <div class="plugin-example" id="edit-plugin-example5"> </div>

        <label><span id="18n-labelChoosePlugin">Choose a Plugin</span></label><br>
        <input oninput="dataListInputV2(this, 'edit')" class="form-input" list="edit-available-plugins" type="text" autocomplete="off" name="edit-plugin-name6" id="edit-plugin-name6"/><br><br>
        <label><span id="18n-labelChoosePluginLocation">Choose a Location for your Plugin</span></label><br>
        <input class="form-input" type="text" list="edit-plugin-location-list" name="edit-plugin-loc6" autocomplete="off" id="edit-plugin-loc6"/><br><br>
        <label class="readonly_id" id="edit-plugin-label6"><span id="i18n-labelPluginOptions">Define any Options Needed for your Plugin.</span></label><br>
        <input class="readonly_id form-input" readonly type="text" name="edit-plugin-options6" id="edit-plugin-options6" /><br><br>
        <div class="plugin-example" id="edit-plugin-example6"> </div>

        <!-- todo:: In the future I would like to create these elements as needed, rather than have the max amount available to edit at once -->

        <button id="edit-form-goBack" class="simple-button btn-undo grow-shadow-hover" type="button"><span id="i18n-buttonGoBack">Go Back</span></button>
        <button id="edit-form-submit" class="simple-button btn-create grow-shadow-hover" type="button"><span id="i18n-modalFirstTimeLangSubmit">Submit</span></button>

        <datalist id="edit-current-category"> </datalist>
        <datalist id="edit-available-plugins"> </datalist>
        <datalist id="edit-plugin-location-list">
          <option value="top-right" label="Top Right Corner"></option>
          <option value="top-left" label="Top Left Corner"></option>
          <option value="center" label="Center"></option>
          <option value="bottom-left" label="Bottom Left Corner"></option>
          <option value="bottom-right" label="Bottom Right Corner"></option>
        </datalist>

      </form>
    </div>
  </div>

  <div id="firstTimeModal" class="modal">
    <div class="modal-content">
      <h2><span id="i18n-modalFirstTimeWelcome">Welcome to GoPage, looks like it's your first time here. Here are some helpful ways to get started.</span></h2>
      <div class="firstTimeModalContent">
        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimeLink">Create your first Link Item.</span></h3>
          </div>
          <a href="/new"><button class="firstTimeModalItemButton">
            <img src="/assets/images/external-link.svg" alt="External Link Icon to Open New Link Item" width="24" height="24">
          </button></a>
        </div>
        <hr class="heading">

        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimePlugin">Visit the Plugin Repo to start installing Plugins</span></h3>
          </div>
          <a href="/pluginrepo"><button class="firstTimeModalItemButton">
            <img src="/assets/images/external-link.svg" alt="External Link Icon to Open Plugin Repo" width="24" height="24">
          </button></a>
        </div>
        <hr class="heading">

        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimeLang">Change the Language GoPage uses.</span></h3>
          </div>
          <div class="firstTimeModalItemLang">
            <div class="firstTimeModalLangChoice">
              <select name="changeLang" id="changeLang">
                <option value="en">English</option>
                <option value="es">Spanish</option>
              </select>
            </div>
            <div class="firstTimeModalLangSubmit">
              <button class="firstTimeModalItemButton" id="firstTimeModalLangSubmit">
                <span id="i18n-modalFirstTimeLangSubmit">Submit</span>
              </button>
            </div>
          </div>
        </div>
        <hr class="heading">

        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimeDocumentation">Visit the documentation for further assistance</span></h3>
          </div>
          <a href="https://github.com/confused-Techie/GoPage/blob/main/readme.md"><button class="firstTimeModalItemButton">
            <img src="/assets/images/external-link.svg" alt="External Link Icon to Open GoPage Github documentation" width="24" height="24">
          </button></a>
        </div>

      </div>

      <button id="closeFirstTimeModal" class="closeFirstTimeModal"><span id="i18n-modalFirstTimeClose">Close First Time Setup</span></button>

    </div>
  </div>

  <div id="homePageSnackbar" class="snackbar"> </div>

  {{template "footer" .}}

  <script type="module" src="/assets/js/pluginLoad.js"></script>
  <script src="/assets/js/universe.js"></script>
  <script src="/assets/js/langHandler.js"></script>
  <script src="/assets/js/home.js"></script>
  <script src="/assets/js/pluginhandler.js"></script>
  <script src="/assets/js/universal.js"></script>

  <noscript>
    <style type="text/css">
      .heading {
        display: none;
      }
    </style>
    <div class="noscriptmsg">
      Sorry to say, this website was created with assumtion JavaScript is enabled. Incorrect and Unexpected behavior WILL occur with it disabled.
    </div>
  </noscript>

</body>
</html>
