<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="GoPage - A simple Website Shortcut Dashboard written in Go">
  <title>GoPage - Home</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/home.css">
</head>
<body>
  <div class="heading">
    <div class="settingsIcon dropdown">
      <a href="/settings"><img src="/assets/images/settings-white.svg" alt="White Gear Icon indicating traditional Settings Icon"></a>
      <div class="settingsIcon dropdown-content">
        <img src="/assets/images/corner-right-down-white.svg" alt="White Arrow Down Icon indicating additional options for Settings">
        <a href="/pluginrepo"><p class="dropdown-content-item"><span id="i18n-toolNamePluginRepo">Plugin Repo</span></p></a>
        <a href="/linkhealth"><p class="dropdown-content-item"><span id="i18n-toolNameLinkHealth">Link Health</span></p></a>
        <a href="/uploadpage"><p class="dropdown-content-item"><span id="i18n-toolNameBackgroundImage">Background Image</span></p></a>
      </div>
    </div>
    <div class="titleCard"><h1>GoPage</h1></div>
    <div class="timeStamp" id="timeStamp"> </div>

    <div class="headerPluginLeft">
      <div class="add-plugin">
        <img class="add-plugin-btn grow-shadow-hover" src="/assets/images/plus-circle-white.svg">
      </div>
    </div>
    <div class="headerPluginRight">
      <div class="add-plugin">
        <img class="add-plugin-btn grow-shadow-hover" src="/assets/images/plus-circle-white.svg">
      </div>
    </div>

    <hr class="heading">
  </div>

  <div class="container">
    <div id="btnContainer">
      <button class="btn active" id="ShowAllCategorySelector"><span id="i18n-ShowAllCategorySelector">Show All</span></button>
    </div>

    <div class="itemContainer">
      {{range .Items}}
      <div class="filterDiv bubble-card-daily {{.Category}}">
        <div class="item hover-shadow-radial">
        <a href="{{.Link}}">
          <div class="itemName grow-shadow-hover">{{.FriendlyName}}</div>
        </a>
        {{if .LeftPlugin}}

        <div class="plugin-left {{.LeftPlugin}}" data-url="{{.Link}}" data-pluginName="{{.LeftPlugin}}" data-options="{{.LeftPluginOptions}}">

        </div>
        {{else}}
        <div class="plugin-left">
          <!-- Assigning empty div here to allow grid to function properly without div-less grid items to avoid auto-fill -->
        </div>
        {{end}}
        {{if .CenterPlugin}}
        <div class="plugin-center {{.CenterPlugin}}" data-url="{{.Link}}" data-pluginName="{{.CenterPlugin}}" data-options="{{.CenterPluginOptions}}">
        </div>
        {{else}}
        <div class="plugin-center">
          <!-- Assigning empty div to avoid grid fill -->
        </div>
        {{end}}
        {{if .RightPlugin}}
        <div class="plugin-right {{.RightPlugin}}" data-url="{{.Link}}" data-pluginName="{{.RightPlugin}}" data-options="{{.RightPluginOptions}}">
        </div>
        {{else}}
        <div class="plugin-right">
          <!-- Assinging empty div to avoid grid fill -->
        </div>
        {{end}}

        <div class="editItem">
          <a href="/edit/{{.Id}}">
            <!--<img src="/assets/images/edit.svg" alt="Black Pencil Pointing Towards box outline indicating traditional Edit Icon">-->
          </a>
        </div>
        <div class="deleteItem">
          <a href="PleaseEnableJavascript.html" onclick="modalDelete( {{.Id}} );return false;">
            <!--<img src="/assets/images/trash-2.svg" alt="Black Outline of Trashcan indicating traditional Delete Icon">-->
          </a>
        </div>

        <div class="optionsItem">
          <img src="/assets/images/more-vertical.svg">
          <div class="optionsContent">
            <div class="optionsContent-Edit">
              <a href="/edit/{{.Id}}">
                Edit
              </a>
            </div>
            <div class="optionsContent-Delete">
              <a href="PleaseEnableJavascript.html" onclick="modalDelete( {{.Id }} );return false;">
                Delete
              </a>
            </div>
          </div>
        </div>

        </div>
      </div>

      {{end}}
    </div>
  </div>

  <div class="new-button-container">
    <form action="/new">
      <button class="hover-shadow-radial grow-shadow-hover" type="submit"><span id="i18n-AddNewItem">Add New Item</span></button>
    </form>
  </div>

  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <h3><span id="i18n-modalDeleteConfirmationMessage">Are you Sure you want to Delete this Item?</span></h3>
      <button id="delete-modal" class="delete"><span id="i18n-modalDeleteConfirm">Confirm</span></button>
      <button id="notDelete-modal" class="notDelete"><span id="i18n-modalDeleteNevermind">Nevermind</span></button>
    </div>
  </div>

  <div id="configModal" class="modal">
    <div class="modal-content">

    </div>
  </div>

  <div id="firstTimeModal" class="modal">
    <div class="modal-content">
      <h2><span id="i18n-modalFirstTimeWelcome">Welcome to GoPage, looks like it's your first time here. Here are some helpful ways to get started.</span></h2>
      <div class="firstTimeModalContent">
        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimeLink">Create your first Link Item.</span></h3>
          </div>
          <a href="/new"><button class="firstTimeModalItemButton">
            <img src="/assets/images/external-link.svg" alt="External Link Icon to Open New Link Item">
          </button></a>
        </div>
        <hr class="heading">

        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimePlugin">Visit the Plugin Repo to start installing Plugins</span></h3>
          </div>
          <a href="/pluginrepo"><button class="firstTimeModalItemButton">
            <img src="/assets/images/external-link.svg" alt="External Link Icon to Open Plugin Repo">
          </button></a>
        </div>
        <hr class="heading">

        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimeLang">Change the Language GoPage uses.</span></h3>
          </div>
          <div class="firstTimeModalItemLang">
            <div class="firstTimeModalLangChoice">
              <select name="changeLang" id="changeLang">
                <option value="en">English</option>
                <option value="es">Spanish</option>
              </select>
            </div>
            <div class="firstTimeModalLangSubmit">
              <button class="firstTimeModalItemButton" id="firstTimeModalLangSubmit">
                <span id="i18n-modalFirstTimeLangSubmit">Submit</span>
              </button>
            </div>
          </div>
        </div>
        <hr class="heading">

        <div class="firstTimeModalItem">
          <div class="firstTimeModalItemText">
            <h3><span id="i18n-modalFirstTimeDocumentation">Visit the documentation for further assistance</span></h3>
          </div>
          <a href="https://github.com/confused-Techie/GoPage/blob/main/readme.md"><button class="firstTimeModalItemButton">
            <img src="/assets/images/external-link.svg" alt="External Link Icon to Open GoPage Github documentation">
          </button></a>
        </div>

      </div>

      <button id="closeFirstTimeModal" class="closeFirstTimeModal"><span id="i18n-modalFirstTimeClose">Close First Time Setup</span></button>

    </div>
  </div>

  <div id="homePageSnackbar" class="snackbar"> </div>

  <footer>
    <img src="/assets/images/github-white.svg" alt="Github's Octocat Icon">
    <p><a href="https://github.com/confused-Techie/GoPage">
      <span id="i18n-footerSourceCode">Source Code</span></a></p>
    <img src="/assets/images/git-branch-white.svg" alt="Github's New Code Branch Icon">
    <p><a href="https://github.com/confused-Techie/GoPage/blob/main/docs/contribute.md">
      <span id="i18n-footerContribute">Contribute</span></a></p>
    <img src="/assets/images/feather-white.svg" alt="Feather Icon Project Logo">
    <p><a href="https://feathericons.com">
      <span id="i18n-footerThanksFeather">Thanks Feather Icons</span></a></p>
  </footer>
  <script type="module" src="/assets/js/pluginLoad.js"></script>
  <script src="/assets/js/langHandler.js"></script>
  <script src="/assets/js/home.js"></script>
  <script src="/assets/js/pluginhandler.js"></script>
  <script src="/assets/js/universal.js"></script>
</body>
</html>
