<html>
<head>
  <title>GoPage - Link Health</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/linkhealth.css">
</head>
<body onload="onPageLoad()">
  <div class="heading">
    <div class="settingsIcon">
      <a href="/settings"><img src="/assets/images/settings-white.svg"></a>
    </div>
    <div class="titleCard"><a href="/"><h1>GoPage</h1></a></div>
    <div class="timeStamp" id="timeStamp"> </div>
    <hr class="heading">
  </div>

  <div id="link-health" class="link-health">
    
  </div>

  <footer>
    <img src="/assets/images/github-white.svg">
    <p><a href="https://github.com/confused-Techie/GoPage">Source Code</a></p>
    <img src="/assets/images/git-branch-white.svg">
    <p><a href="https://github.com/confused-Techie/GoPage">Contribute</a></p>
  </footer>
  <script src="/assets/js/universal.js"></script>
  <script src="/assets/js/pluginNonHomeLoad.js"></script>
  <script src="/assets/js/linkhealth.js"></script>
</body>
</html>
