<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>

  {{template "heading" .}}

  <div id="link-health" class="bar-list">

  </div>

  {{template "footer" .}}

  <script src="/assets/js/universal.js"></script>
  <script src="/assets/js/langHandler.js"></script>
  <script type="module" src="/assets/js/pluginLoad.js"></script>
  <script src="/assets/js/linkhealth.js"></script>

  <noscript>
    <style type="text/css">
      .heading {
        display: none;
      }
    </style>
    <div class="noscriptmsg">
      Sorry to say, this website was created with assumtion JavaScript is enabled. Incorrect and Unexpected behavior WILL occur with it disabled.
    </div>
  </noscript>
  
</body>
</html>
