<!DOCTYPE html>
<html>
<head>
  <title>GoPage - Create New Item</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/form.css">
</head>
<body onload="initCategory()">
  <h2>New Item's Data</h2>
  <div class="full_form">
    <form method="POST" action="itemadded">
      <label>Enter Friendly Name</label><br>
      <input type="text" name="friendlyName" /><br><br>
      <label>Enter Link</label><br>
      <input name="link" placeholder="https://www.my-favourite-site.com"/><br><br>
      <label>Enter Category</label><br>
      <input list="current-category" type="text" name="category" /><br><br>

      <label>Choose your Left Plugin</label><br>
      <input oninput="onDataListInput(this)" list="available-plugins" type="text" name="leftPlugin"/><br><br>
      <label class="readonly_id" id="leftPluginLabel">Define any Options Needed for your Left Plugin.</label><br>
      <input class="readonly_id" readonly type="text" name="leftPluginOptions" id="leftPluginOptions"/><br><br>
      <div class="plugin-example readonly_id" id="left-plugin-example"> </div>

      <label>Choose your Center Plugin</label><br>
      <input oninput="onDataListInput(this)" list="available-plugins" type="text" name="centerPlugin" /><br><br>
      <label class="readonly_id" id="centerPluginLabel">Define any Options Needed for your Center Plugin.</label><br>
      <input class="readonly_id" readonly type="text" name="centerPluginOptions" id="centerPluginOptions" /><br><br>
      <div class="plugin-example" id="center-plugin-example"> </div>

      <label>Choose your Right Plugin</label><br>
      <input oninput="onDataListInput(this)" list="available-plugins" type="text" name="rightPlugin" /><br><br>
      <label class="readonly_id" id="rightPluginLabel">Define any Options Needed for the Right Plugin.</label><br>
      <input class="readonly_id" readonly type="text" name="rightPluginOptions" id="rightPluginOptions" /><br><br>
      <div class="plugin-example" id="right-plugin-example"> </div>

      <button id="goBack" class="goBack" type="button">Go Back</button>
      <input type="submit" value="Submit">

      <datalist id="current-category">

      </datalist>

      <datalist id="available-plugins">

      </datalist>
    </form>
  </div>
  <script src="/assets/js/form.js"></script>
  <script src="/assets/js/pluginNonHomeLoad.js"></script>
  <script type="text/javascript" src="/plugins/installedPlugins.json"></script>
</body>
</html>
