<!DOCTYPE html>
{{ template "head" . }}
<body>

  <div style="text-align: center;">
    <h1>That page couldn't be found.</h1>
    <h2>Return to <a href="/">Home</a> instead?</h2>
  </div>

  {{ template "noscript" . }}
  
</body>
</html>
