<!DOCTYPE html>
<html lang="en">
<head>
  <title>GoPage - Plugin Repo</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/pluginRepo.css">
</head>
<body>
  <div class="heading">
    <div class="settingsIcon dropdown">
      <a href="/settings"><img src="/assets/images/settings-white.svg" alt="White Gear Icon indicating traditional Settings Icon"></a>
      <div class="settingsIcon dropdown-content">
        <img src="/assets/images/corner-right-down-white.svg" alt="White Arrow Down Icon indicating additional options for Settings">
        <a href="/linkhealth"><p class="dropdown-content-item"><span id="i18n-toolNameLinkHealth">Link Health</span></p></a>
        <a href="/uploadpage"><p class="dropdown-content-item"><span id="i18n-toolNameBackgroundImage">Background Image</span></p></a>
      </div>
    </div>
    <div class="titleCard"><a href="/"><h1>GoPage</h1></a></div>
    <div class="timeStamp" id="timeStamp"> </div>
    <hr class="heading">
  </div>

  <div class="updatePluginButtonContainer">
    <div class="updatePluginButton">
      <button onclick="updatePlugin()" class="simple-button btn-create"><span id="i18n-buttonUpdateAvailablePlugins">Update Available Plugins</span></button>
    </div>
  </div>

  <div class="seperator"> <h2><span id="i18n-headerInstalled">Installed</span></h2></div>

  <div class="plugins-list bar-list">
    {{range .Installed.PluginItem}}
      <div class="plugin-item-container bar-list-bars">
        <div class="plugin-item">
          <div class="plugin-icon">
            {{if .Icon.Available}}
              {{if eq .Icon.Type "image"}}
                <img src="{{.Icon.Source}}" alt="Icon specified by Plugin Creator to represent their Plugin">
              {{end}}
              {{if eq .Icon.Type "raw"}}
                {{if eq .Icon.Style "GreenCircle"}}
                  <span style="height: 25px; width: 25px; border-radius: 50%; display: inline-block; background-color: green;">
                {{else}}
                  <span>
                {{end}}
                {{if eq .Icon.Symbol "Checkmark"}}
                  &#10004;
                {{end}}
                </span>
              {{end}}
            {{end}}
          </div>
          <div class="plugin-title">
            <a href="{{.InfoLink}}">{{.FriendlyName}}</a>
          </div>
          <div class="plugin-version">
            <span id="i18n-pluginRepoVersion">Version</span>: {{.Version}}
          </div>
          <div class="plugin-description">
            {{.Description}}
          </div>
          <div class="plugin-author">
            &#64; {{.Author}}
          </div>
          <div class="plugin-license">
            <span id="i18n-pluginRepoLicense">License</span>:
            {{.License}}
          </div>
          <div class="plugin-action">
            <div class="plugin-uninstall btn-destroy simple-button" onclick="uninstallPlugin({{.Name}})">
              <img src="/assets/images/minus-circle.svg" alt="Minus Sign Icon Indicating Button to Uninstall Plugin">
            </div>
          </div>
        </div>
      </div>
    {{end}}
  </div>

  <div class="seperator"> <h2><span id="i18n-headerAvaialble">Available</span></h2></div>

  <div class="plugins-list bar-list">
    {{range .Available.AvailablePluginItem}}
    <div class="plugin-item-container bar-list-bars">
      <div class="plugin-item">
        <div class="plugin-icon">
          {{if .Icon.Available}}
            {{if eq .Icon.Type "image"}}
              <img src="{{.Icon.Source}}" alt="Icon specified by Plugin Creator to represent their Plugin">
            {{end}}
            {{if eq .Icon.Type "raw"}}
              {{if eq .Icon.Style "GreenCircle"}}
                <span style="height: 25px; width: 25px; border-radius: 50%; display: inline-block; background-color: green;">
              {{else}}
                <span>
              {{end}}
              {{if eq .Icon.Symbol "Checkmark"}}
                &#10004;
              {{end}}
              </span>
            {{end}}
          {{end}}
        </div>
        <div class="plugin-title">
          <a href="{{.InfoLink}}">{{.FriendlyName}}</a>
        </div>
        <div class="plugin-version">
          <span id="i18n-pluginRepoVersion">Version</span>: {{.Version}}
        </div>
        <div class="plugin-description">
          {{.Description}}
        </div>
        <div class="plugin-author">
          &#64; {{.Author}}
        </div>
        <div class="plugin-license">
          <span id="i18n-pluginRepoLicense">License</span>: {{.License}}
        </div>
        <div class="plugin-action">
          {{if .Installed}}
          <div class="plugin-uninstall btn-destroy simple-button" onclick="uninstallPlugin({{.Name}})">
            <img src="/assets/images/minus-circle.svg" alt="Minus Sign Icon Indicating Button to Uninstall Plugin">
          </div>
          {{else}}
          <div class="plugin-install btn-create simple-button" onclick="installPlugin({{.DownloadLink}}, {{.Name}})">
            <img src="/assets/images/download.svg" alt="Arrow Pointing Down Icon Indicating Button to Install Plugin">
          </div>
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
  </div>

  <div id="dynamicModal" class="modal">
    <div class="modal-content">

    </div>
  </div>

  <footer>
    <img src="/assets/images/github-white.svg" alt="Github's Octocat Icon">
    <p><a href="https://github.com/confused-Techie/GoPage">
      <span id="i18n-footerSourceCode">Source Code</span></a></p>
    <img src="/assets/images/git-branch-white.svg" alt="Github's New Code Branch Icon">
    <p><a href="https://github.com/confused-Techie/GoPage/blob/main/docs/contribute.md">
      <span id="i18n-footerContribute">Contribute</span></a></p>
    <img src="/assets/images/feather-white.svg" alt="Feather Icon Project Logo">
    <p><a href="https://feathericons.com">
      <span id="i18n-footerThanksFeather">Thanks Feather Icons</span></a></p>
  </footer>
  <script src="/assets/js/universal.js"></script>
  <script src="/assets/js/langHandler.js"></script>
  <script src="/assets/js/pluginRepo.js"></script>
  <script type="module" src="/assets/js/pluginLoad.js"></script>
</body>
</html>
