<!DOCTYPE html>
{{template "head" .}}

<body>

  {{template "heading" .}}

  {{/* Since we know we will need to access some strings within a ranged loop on this page, */}}
  {{/* We can define global values for the strings here */}}
  {{ $scopedTargetStrings := .TargetStrings }}
  {{ $scopedDefaultStrings := .DefaultStrings }}

  <div class="updatePluginButtonContainer">
    <div class="updatePluginButton">
      <button onclick="updatePlugin()" class="simple-button btn-create grow-shadow-hover">
        {{ or
          (index .TargetStrings "i18n-buttonUpdateAvailablePlugins")
          (index .DefaultStrings "i18n-buttonUpdateAvailablePlugins")
        }}
      </button>
    </div>
  </div>

  <div class="seperator"> <h2>
    {{ or
      (index .TargetStrings "i18n-headerInstalled")
      (index .DefaultStrings "i18n-headerInstalled")
    }}
  </h2></div>

  <div class="bar-list">
    {{range .Data.Installed.UniversalPluginItem}}

      {{template "pluginItem" . }}

    {{end}}
  </div>

  <div class="seperator"> <h2>
    {{ or
      (index .TargetStrings "i18n-headerAvaialble")
      (index .DefaultStrings "i18n-headerAvaialble")
    }}
  </h2></div>



  <div class="bar-list">
    {{range .Data.Available.UniversalPluginItem}}

      {{template "pluginItem" . }}

    {{end}}
  </div>

  <div id="dynamicModal" class="modal">
    <div class="modal-content">

    </div>
  </div>

  {{template "snackbar" .}}

  {{template "footer" .}}

  {{range .JS}}
    <script src="{{ . }}"></script>
  {{end}}
  <script type="module" src="/assets/js/pluginLoad.js"></script>

  {{template "noscript" .}}

</body>
</html>
