<!DOCTYPE html>
{{template "head" .}}

<body>

  {{template "heading" .}}

  {{/* Since we know we will need to access some strings within a ranged loop on this page, */}}
  {{/* We can define global values for the strings here */}}
  {{ $scopedTargetStrings := .TargetStrings }}
  {{ $scopedDefaultStrings := .DefaultStrings }}

  <div class="updatePluginButtonContainer">
    <div class="updatePluginButton">
      <button onclick="updatePlugin()" class="simple-button btn-create grow-shadow-hover">
        {{ or
          (index .TargetStrings "i18n-buttonUpdateAvailablePlugins")
          (index .DefaultStrings "i18n-buttonUpdateAvailablePlugins")
        }}
      </button>
    </div>
  </div>

  <div id="pluginList">
    {{template "pluginList" . }}
  </div>

  {{template "returnsGlobalJS" . }}

  {{template "modal" . }}

  {{template "snackbar" .}}

  {{template "footer" .}}

  {{range .JS}}
    <script src="{{ . }}"></script>
  {{end}}
  <script type="module" src="/assets/js/pluginLoad.js"></script>

  {{template "noscript" .}}

</body>
</html>
