<html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/settings.css">
</head>
<body>
  <div class="heading">
    <div class="titleCard"><a href="/"><h1>GoPage</h1></a></div>
    <div class="timeStamp" id="timeStamp"></div>
    <hr class="heading">
  </div>

  <div class="settings-container">
    <div class="seperator"><h2>Summary</h2></div>

    <div class="settingsContainerSummary">
      <div class="server-settings">
        <p>Server Name: {{.Name}}</p>
        <p>Server Version: {{.Version}}</p>
        <p>GoPage Author: {{.Author}}</p>
      </div>
      <div class="host-settings">
        <p>Test</p>
      </div>
    </div>

    <div class="seperator"><h2>Tools</h2></div>

    <div class="settingsShortcuts">
      <div class="shortcut-list-item-container">
        <div class="shortcut-list-item">
          <div class="shortcut-list-title">
            Plugin Repo
          </div>
          <div class="shortcut-list-description">
            <p>A Place to get new Plugins.</p>
          </div>
          <a href="/pluginrepo">
          <div class="shortcut-list-launch">
            <img src="/assets/images/external-link.svg">
          </div>
          </a>
        </div>
      </div>

      <div class="shortcut-list-item-container">
        <div class="shortcut-list-item">
          <div class="shortcut-list-title">
            Link Health
          </div>
          <div class="shortcut-list-description">
            <p>[COMING SOON] A Place to check the health and any Duplicates of Items</p>
          </div>
          <div class="shortcut-list-launch">
            <img src="/assets/images/external-link.svg">
          </div>
        </div>
      </div>
    </div>

    <div class="settingsContainer">

    </div>
  </div>
  <footer>
    <img src="/assets/images/github-white.svg">
    <p><a href="https://github.com/confused-Techie/GoPage">Source Code</a></p>
    <img src="/assets/images/git-branch-white.svg">
    <p><a href="https://github.com/confused-Techie/GoPage">Contribute</a></p>
  </footer>
  <script src="/assets/js/universal.js"></script>
</body>
</html>
