<!DOCTYPE html>
 {{template "head" .}}

  <body>
    {{template "heading" .}}

    <div class="bar-list">
      <div class="seperator">
        <h2>
          {{ or
            (index .TargetStrings "i18n-headerSummary")
            (index .DefaultStrings "ii18n-headerSummary")
          }}
        </h2>
      </div>

      <div class="settingsContainerSummary bar-list-bars">
        <div class="server-settings">
          <p>
            {{ or
              (index .TargetStrings "i18n-serverSummaryServerName")
              (index .DefaultStrings "i18n-serverSummaryServerName")
            }}:
            {{.Data.ServerSettings.Name}}
          </p>
          <p>
            {{ or
              (index .TargetStrings "i18n-serverSummaryServerVersion")
              (index .DefaultStrings "i18n-serverSummaryServerVersion")
            }}:
            {{.Data.ServerSettings.Version}}
          </p>
          <p>
            {{ or
              (index .TargetStrings "i18n-serverSummaryGoPageAuthor")
              (index .DefaultStrings "i18n-serverSummaryGoPageAuthor")
            }}:
            {{.Data.ServerSettings.Author}}
          </p>
          <p>
            {{ or
              (index .TargetStrings "i18n-serverSummaryServerLanguage")
              (index .DefaultStrings "i18n-serverSummaryServerLanguage")
            }}:
            {{.Data.ServerSettings.Language}}
          </p>
        </div>
        <div id="host-settings" class="host-settings">
          <p>
            {{ or
              (index .TargetStrings "i18n-generatedSettingsHostName")
              (index .DefaultStrings "i18n-generatedSettingsHostName")
            }}:
            {{ .Data.ServerHostName }}
          </p>
          <p>
            {{ or
              (index .TargetStrings "i18n-generatedSettingsOperatingSystem")
              (index .DefaultStrings "i18n-generatedSettingsOperatingSystem")
            }}:
            {{ .Data.ServerOS }}
          </p>
        </div>
      </div>

      <div class="settingsContainerOptions bar-list-bars">
        <div class="server-settings">
          <label>
            <h3>
              {{ or
                (index .TargetStrings "i18n-serverSummaryServerLanguage")
                (index .DefaultStrings "i18n-serverSummaryServerLanguage")
              }}:
            </h3>
          </label>
          <input type="text" list="changeLang" autocomplete="off" value=" {{ .TargetLanguage }}" id="changeLangInput"/>
          <datalist id="changeLang">
            <option value="ar">Arabic</option>
            <option value="de">German</option>
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
            <option value="zh">Chinese - Traditional</option>
            <option value="ru">Russian</option>
          </datalist>
          <button class="hover-shadow-radial grow-shadow-hover simple-button btn-create" id="submitLangBtn">
            {{ or
              (index .TargetStrings "i18n-modalFirstTimeLangSubmit")
              (index .DefaultStrings "i18n-modalFirstTimeLangSubmit")
            }}
          </button>
          <br/>
          <label><h3>Logging:</h3></label>
          <input type="text" value=" {{ .Data.ServerSettings.Logging }} "/>
          <br/>
          <label><h3>Robots:</h3></label>
          <input type="text" value=" {{ .Data.ServerSettings.Robots }} "/>
          <br/>
        </div>
        <div class="host-settings">
          <label>
            <h3>
              {{ or
                (index .TargetStrings "i18n-toolNameBackgroundImage")
                (index .DefaultStrings "i18n-toolNameBackgroundImage")
              }}:
            </h3>
          </label>
          <button class="hover-shadow-radial grow-shadow-hover simple-button btn-create" href="/uploadpage">
            {{ or
              (index .TargetStrings "i18n-toolNameBackgroundImage")
              (index .DefaultStrings "i18n-toolNameBackgroundImage")
            }}
          </button>
          <br/>
          <label>
            <h3>
              {{or
                (index .TargetStrings "i18n-modalHeaderPlugin")
                (index .DefaultStrings "i18n-modalHeaderPlugin")
              }}:
            </h3>
          </label>
          <button class="hover-shadow-radial grow-shadow-hover simple-button btn-destroy" id="removeLeftHeaderPluginBtn">
            Remove Left Header Plugin
          </button>
          <button class="hover-shadow-radial grow-shadow-hover simple-button btn-destroy" id="removeRightHheaderPluginBtn">
            Remove Right Header Plugin
          </button>
          <br/>
          <label><h3>Active Theme:</h3></label>
          <input type="text" value="In Progress"/>
          <br/>
        </div>
      </div>

      <div class="seperator">
        <h2>{{ or
              (index .TargetStrings "i18n-headerTools")
              (index .DefaultStrings "i18n-headerTools")
            }}</h2>
      </div>

      <div class="settingsShortcuts">
        <div class="bar-list-bars">
          <div class="shortcut-list-item">
            <div class="shortcut-list-title">
              {{ or
                (index .TargetStrings "i18n-toolNamePluginRepo")
                (index .DefaultStrings "i18n-toolNamePluginRepo")
              }}
            </div>
            <div class="shortcut-list-description">
              <p>
                {{ or
                  (index .TargetStrings "i18n-toolDescriptionPluginRepo")
                  (index .DefaultStrings "i18n-toolDescriptionPluginRepo")
                }}
              </p>
            </div>
            <a href="/pluginrepo">
              <div class="shortcut-list-launch">
                <img
                  src="/assets/images/external-link.svg"
                  alt="External Link Icon to Open Plugin Repo"
                />
              </div>
            </a>
          </div>
        </div>

        <div class="bar-list-bars">
          <div class="shortcut-list-item">
            <div class="shortcut-list-title">
              {{ or
                (index .TargetStrings "i18n-toolNameLinkHealth")
                (index .DefaultStrings "i18n-toolNameLinkHealth")
              }}
            </div>
            <div class="shortcut-list-description">
              <p>
                {{ or
                  (index .TargetStrings "i18n-toolDescriptionLinkHealth")
                  (index .DefaultStrings "i18n-toolDescriptionLinkHealth")
                }}
              </p>
            </div>
            <a href="/linkhealth">
              <div class="shortcut-list-launch">
                <img
                  src="/assets/images/external-link.svg"
                  alt="External Link Icon to Open Link Health"
                />
              </div>
            </a>
          </div>
        </div>

        <div class="bar-list-bars">
          <div class="shortcut-list-item">
            <div class="shortcut-list-title">
              {{ or
                (index .TargetStrings "i18n-toolNameBackgroundImage")
                (index .DefaultStrings "i18n-toolNameBackgroundImage")
              }}
            </div>
            <div class="shortcut-list-description">
              <p>
                {{ or
                  (index .TargetStrings "i18n-toolDescriptionBackgroundImage")
                  (index .DefaultStrings "i18n-toolDescriptionBackgroundImage")
                }}
              </p>
            </div>
            <a href="/uploadpage">
              <div class="shortcut-list-launch">
                <img
                  src="/assets/images/external-link.svg"
                  alt="External Link Icon to Open Background Image"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    {{ template "snackbar" . }}

    {{ template "returnsGlobalJS" . }}

    {{ template "modal" . }}

    {{template "footer" .}}

    {{range .JS}}
      <script src="{{ . }}"></script>
    {{end}}

    <script type="module" src="/assets/js/pluginLoad.js"></script>

    {{template "noscript" .}}

  </body>
</html>
