<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>

  {{template "heading" .}}

  <div class="uploadImageContainer">
    <h3>Upload New Image</h3>

    <form
      enctype="multipart/form-data"
      action="/upload"
      method="post"
      >

      <label>
        Choose an Image to Upload:
        <input type="file" name="myFile"/>
      </label>


      <button type="submit" class="simple-button btn-create grow-shadow-hover">Upload Image</button>


      </form>
  </div>

  <div class="seperator"> </div>

  <div class="unsetImageContainer">
    <h3>Use no Background Image</h3>

    <button onclick="unsetImage();" class="simple-button btn-create grow-shadow-hover">Unset Image</button>
  </div>

  <div class="existingImages" id="existingImages">

  </div>

  <div id="uploadImageSnackbar" class="snackbar"> </div>

  {{template "footer" .}}

  {{range .JS}}
    <script src="{{ . }}"></script>
  {{end}}

  <script type="module" src="/assets/js/pluginLoad.js"></script>

  {{template "noscript" .}}

  </body>
  </html>
