<!DOCTYPE html>

{{template "head" .}}

<body>

  {{template "heading" .}}

  <div class="uploadImageContainer">
    <h3>
      {{ or
        (index .TargetStrings "i18n-headerUploadNewImage")
        (index .DefaultStrings "i18n-headerUploadNewImage")
      }}
    </h3>

    <form
      enctype="multipart/form-data"
      action="/upload"
      method="post"
      >

      <label>
        {{/* TODO Add this to strings */}}
        Choose an Image to Upload:
        <input type="file" name="myFile"/>
      </label>


      <button type="submit" class="simple-button btn-create grow-shadow-hover">
        {{/* TODO add to strings */}}
        Upload Image
      </button>


      </form>
  </div>

  <div class="seperator"> </div>

  <div class="unsetImageContainer">
    <h3>
      {{/* TODO add to strings */}}
      Use no Background Image
    </h3>

    <button onclick="unsetImage();" class="simple-button btn-create grow-shadow-hover">
      {{/* TODO add to strings */}}
      Unset Image
    </button>
  </div>

  <div class="existingImages" id="existingImages">

  </div>

  <div id="uploadImageSnackbar" class="snackbar"> </div>

  {{template "footer" .}}

  {{range .JS}}
    <script src="{{ . }}"></script>
  {{end}}

  <script type="module" src="/assets/js/pluginLoad.js"></script>

  {{template "noscript" .}}

  </body>
  </html>
