<!DOCTYPE html>
<html lang="en">
<head>
  <title>GoPage - Upload</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/universal.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/uploadImage.css">

</head>
<body>

  {{template "heading" .}}

  <div class="uploadImageContainer">
    <h3>Upload New Image</h3>

    <form
      enctype="multipart/form-data"
      action="/upload"
      method="post"
      >

      <input type="file" name="myFile" />


      <button type="submit" class="simple-button btn-create">Upload Image</button>


      </form>
  </div>

  <div class="seperator"> </div>

  <div class="unsetImageContainer">
    <h3>Use no Background Image</h3>

    <button onclick="unsetImage();" class="simple-button btn-create">Unset Image</button>
  </div>

  <div class="existingImages" id="existingImages">

  </div>

  <div id="uploadImageSnackbar" class="snackbar"> </div>

  {{template "footer" .}}
  
    <script src="/assets/js/langHandler.js"></script>
    <script src="/assets/js/universal.js"></script>
    <script src="/assets/js/universe.js"></script>
    <script type="module" src="/assets/js/pluginLoad.js"></script>
    <script src="/assets/js/uploadImage.js"></script>
  </body>
  </html>
