<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="GoPage - A Simple Website Shortcut Dashboard written in Go">
  <meta name="viewport" content="width=device-width">
  <title>GoPage - Upload</title>
  <link id="theme" rel="stylesheet" type="text/css" href="/assets/css/theme-dark.css">
  <link rel="stylesheet" type="text/css" href="/assets/dist/universal.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/dist/uploadImage.min.css">

</head>
<body>

  {{template "heading" .}}

  <div class="uploadImageContainer">
    <h3>Upload New Image</h3>

    <form
      enctype="multipart/form-data"
      action="/upload"
      method="post"
      >

      <label>
        Choose an Image to Upload:
        <input type="file" name="myFile"/>
      </label>


      <button type="submit" class="simple-button btn-create grow-shadow-hover">Upload Image</button>


      </form>
  </div>

  <div class="seperator"> </div>

  <div class="unsetImageContainer">
    <h3>Use no Background Image</h3>

    <button onclick="unsetImage();" class="simple-button btn-create grow-shadow-hover">Unset Image</button>
  </div>

  <div class="existingImages" id="existingImages">

  </div>

  <div id="uploadImageSnackbar" class="snackbar"> </div>

  {{template "footer" .}}

    <script src="/assets/js/langHandler.js"></script>
    <script src="/assets/js/universal.js"></script>
    <script src="/assets/js/universe.js"></script>
    <script type="module" src="/assets/js/pluginLoad.js"></script>
    <script src="/assets/js/uploadImage.js"></script>

    <noscript>
      <style type="text/css">
        .heading {
          display: none;
        }
      </style>
      <div class="noscriptmsg">
        Sorry to say, this website was created with assumtion JavaScript is enabled. Incorrect and Unexpected behavior WILL occur with it disabled.
      </div>
    </noscript>

  </body>
  </html>
