{{define "head"}}
<head>
  <meta name="description" content="GoPage - A Simple Website Shortcut Dashboard written in Go">
  <meta name="viewport" content="width=device-width">
  <title>{{ .Title }}</title>
  <link id="theme" rel="stylesheet" type="text/css" href="{{ .Theme }}">
  {{range .CSS }}
    <link rel="stylesheet" type="text/css" href="{{ . }}">
  {{end}}
</head>
{{end}}
