{{define "noscript"}}
<noscript>
  <style type="text/css">
    .heading {
      display: none;
    }
  </style>
  <div class="noscriptmsg">
    Sorry to say, this website was created with assumtion JavaScript is enabled. Incorrect and Unexpected behavior WILL occur with it disabled.
  </div>
</noscript>
{{end}}
