{{define "snackbar"}}
<div id="snackbar" class="snackbar grid">

  <div class="msg">
    <p id="infoSnackbar"></p>
  </div>
  <div class="icon">
    <img src="/assets/images/check-circle-white.svg" alt="Check Mark with a Cirle surrounded it." width="24" height="24">
  </div>
</div>
{{end}}
