{{define "snackbar"}}
<div id="snackbar" class="snackbar grid show">

  <div class="msg">
    <p id="infoSnackbar"></p>
  </div>
  <div class="icon">
    <img src="/assets/images/info-white.svg" alt="White Informational 'i' Icon">
  </div>
</div>
{{end}}
