.bar-list {
  width: 80%;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  margin: auto;
}

.bar-list .bar-list-bars {
  width: 100%;
  background-color: var(--card-back-drop-colour);
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 5px 20px 5px;
}
