.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--card-back-drop-colour);
  padding: 2px;
  margin: 2px;
  border: 2px solid black;
  border-radius: 10px;
}

.dropdown-content-item {
  cursor: pointer;
  padding: 3px;
  border-radius: 4px;
}

.dropdown-content-item:hover {
  background-color: var(--category-selector-button-hover-bc);
}

.dropdown:hover .dropdown-content {
  display: inline;
}
