.heading {
  border-bottom: 0.3rem solid var(--heading-back-drop-colour);
  background-color: rgba(var(--heading-back-drop-colour-RGB), 0.6);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 8%) repeat(3, 1fr);
  height: 5vh;
  align-items: baseline;
}

hr.heading {
  border: var(--heading-hr-border);
}

.heading .headingBtn {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color, border-radius;
  transition-property: background-color, border-radius;
}

.heading .headingBtn:hover,
.heading .headingBtn:focus,
.heading .headingBtn:active {
  border-radius: 16px;
  background-color: var(--create-action-back-drop-colour);
}

.heading .headingicon {
  grid-column: 1;
  grid-row: 1;
}

.heading .headingicon img {
  height: 5vh;
  position: absolute;
}

.heading .titleCard {
  grid-column: 2;
  grid-row: 1;
  height: 5vh;
  font-family: "Staatliches", sans-serif;
}

.heading .pluginRepo {
  grid-column: 3;
  grid-row: 1;
}

.heading .backgroundImage {
  grid-column: 4;
  grid-row: 1;
}

.heading .linkHealth {
  grid-column: 5;
  grid-row: 1;
}

.heading .settings {
  grid-column: 6;
  grid-row: 1;
}

.heading .timeStamp {
  grid-column: 9;
  grid-row: 1;
  height: 4vh;
}

.heading .headerPluginLeft {
  grid-column: 7;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.heading .headerPluginRight {
  grid-column: 8;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.heading .headerPluginLeft .add-plugin {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  cursor: pointer;
}

.heading .headerPluginRight .add-plugin {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  cursor: pointer;
}

.heading .headerPluginLeft:hover .add-plugin {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
}

.heading .headerPluginRight:hover .add-plugin {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
}
