.snackbar {
  visibility: hidden; /* Hidden by default */
  min-width: 250px; /* Set default minimum width */
  background-color: #333; /* TODO: Remove hardcoded color */
  color: #fff; /* TODO: Remove hardcoded colour */
  text-align: center;
  padding: 16px;
  position: fixed; /* Sit on top of the screen */
  z-index: 1;
  bottom: 30px;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.snackbar.show {
  visibility: visible;

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */

  -webkit-animation: snack-fadein 0.5s, snack-fadeout 0.5s 2.5s;
  animation: snack-fadein 0.5s, snack-fadeout 0.5s 4.5s;
}

.snackbar.show:hover {
  animation-play-state: paused;
}

.snackbar.grid {
  display: grid;
  grid-template-columns: 1fr 10%;
  padding: 0.5rem;
  justify-items: start;
}

.snackbar .msg {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.snackbar .icon {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  padding-left: 0.5vh;
}

.snackbar.clickable .icon img {
  -webkit-animation: snackbar-breathing 2s ease-out infinite normal;
  animation: snackbar-breathing 2s ease-out infinite normal;
}

.snackbar.success {
  background-color: var(--confirm-action-back-drop-colour);
}

.snackbar.error {
  background-color: var(--error-action-back-drop-colour);
}

@-webkit-keyframes snackbar-breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes snackbar-breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  60% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* animations to fade the snackbar in and out */
@-webkit-keyframes snack-fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 0;
  }
}

@keyframes snack-fadein {
  from {
    bottom: 0;
    opacity: 1;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes snack-fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 30px;
    opacity: 0;
  }
}

@keyframes snack-fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 30px;
    opacity: 0;
  }
}
